# POSTGRES_USERNAME="dempapp"
# POSTGRES_PASSWORD="dempapp"
# POSTGRES_DB="dempapp"
# POSTGRES_HOST="dempapp"
# POSTGRES_DB_PORT="dempapp"
# DATABASE_URL="dempapp"
# API_PORT=4000


# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

APP_ENV=local
API_PORT=4002

BACKEND_BASE_URL=http://localhost:4002
FRONTEND_BASE_URL=http://localhost:3000


ALLOWED_ORIGINS="http://127.0.0.1:3000"

JWT_ACCESS_SECRET="access_secret"
JWT_REFRESH_SECRET="refresh_secret"

#DATABASE
POSTGRES_HOST=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_DB_PORT=
POSTGRES_DB_EXIT_PORT=
DATABASE_URL=

#SENTRY
SENTRY_DSN=

# AWS SES SETTUP
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_VERIFIED_EMAIL_ADDRESS=
